* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: none;
}

body {
    background-color: #111;
}

header {
    text-align: center;
    background-color: #111;
}

.canvas {
    padding: 3%;
    margin: auto;
    height: 350px;
    width: 90%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    /* justify-content: space-between  ; */
}

#control {
    margin: auto;
    padding: 30px;
    height: 350px;
    width: 90%;
    background-color: #222;
}

.ele {
    padding: 5px;
    padding-top: 3px;
    font-size: 30px;
    text-align: center;
    color: black;
    transition: all;
    margin: 5px;
    outline: 5px black;
    outline-style: solid;
    border-radius: 15px;
    min-width: fit-content;
    height: 50px;
    list-style: none;
    position: relative;
}

#control * {
    height: 35px;
}

button {
    background-color: #111;
}

input {
    background-color: white;
    color: black;
}

.arrow {
    width: 30px;
    height: 5px;
    border-radius: 4px 0px 0px 4px;
    background-color: #000;
    position: relative;
}

.arrow::after {
    background-color: black;
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 27px;
    height: 5px;
    rotate: -45deg;
    position: absolute;
    top: -8px;
    left: -4px;
}

.arrow::before {
    background-color: black;
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 27px;
    height: 5px;
    rotate: 45deg;
    position: absolute;
    top: 8px;
    left: -4px;
}

li {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 0;
}

li.show {
    max-width: 200px;
}

#error {
    color: red;
}

.fade li {
    transition: all ease-out;
    transition-duration: 1s;
    opacity: 0;
}

.fade li.show {
    opacity: 1;
}