* {
    margin: 0;
    padding: 0;
    color: white;
    border: none;
}

html {
    background-color: #111;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.canvas {
    padding: 3%;
    margin: auto;
    height: 13rem;
    background-color: #eee;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

main {
    width: 90%;
    margin: auto;
}

.control {
    background-color: #333;
    height: 23rem;
    display: flex;
}

.controlchild {
    width: 50%;
    padding: 30px;
}


.ele {
    padding: 5px;
    padding-top: 3px;
    font-size: 30px;
    text-align: center;
    color: black;
    transition: all;
    margin: 5px;
    outline: 5px black;
    outline-style: solid;
    border-radius: 15px;
    min-width: fit-content;
    list-style: none;
    position: relative;
}


button {
    background-color: #111;
    border-radius: 10rem;
    height: 2rem;
    width: 5rem;
    margin: .5em 0em;
}
button:hover{
    transition: 500ms;
    background-color: #fff;
    color: #111;
}
input[type=text] {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 2rem;
    width: 10rem;
}
input[type=number] {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 2rem;
    width: 10rem;
}
input[type=text]:first-child {
    margin-bottom: 3.2rem; margin-top: .3rem;
}
.arrow {
    width: 30px;
    height: 5px;
    border-radius: 4px 0px 0px 4px;
    background-color: #000;
    position: relative;
}

.arrow::after {
    background-color: black;
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 27px;
    height: 5px;
    rotate: -45deg;
    position: absolute;
    top: -8px;
    left: -4px;
}

.arrow::before {
    background-color: black;
    content: "";
    display: inline-block;
    border-radius: 4px;
    width: 27px;
    height: 5px;
    rotate: 45deg;
    position: absolute;
    top: 8px;
    left: -4px;
}

li {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 0;
}

li.show {
    max-width: 200px;
}

#error {
    color: red;
}

.fade li {
    transition: all ease-out;
    transition-duration: 1s;
    opacity: 0;
}

.fade li.show {
    opacity: 1;
}


footer{
    margin: auto;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
	margin:  0.5rem 0;
}
code{
    font-size: 16px;
}
#value{
	font-weight: bolder;
}
mark{
	background-color: #ffffffaf;
	color: red;
}
img{
	width: 20px;
}
#homepage{
	position: absolute;
	left: 15px;
}