* {
	margin: 0;
	padding: 0;
	color: white;
	border: none;
}

html {
	background-color: #111;
}

header {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	margin: auto;
	display: flex;
	width: 90%;
}

#canvas {
	width: 50%;
	height: 562px;
	background-color: #ccc;
	display: flex;
	text-align: center;
	flex-direction: column-reverse;
}

#control {
	width: 50%;
	/* height: 50%; */
	background-color: #222;
	padding: 3%;
}

#control * {
	height: 35px;
}

li {
	font-size: 30px;
	text-align: center;
	justify-content: center;
	color: black;
	transition: all;
	margin: 13px auto;
	padding: 5px;
	padding-top: 3px;
	outline: 5px black;
	outline-style: solid;
	border-radius: 15px;
	height: 40px;
	list-style: none;
	overflow: hidden;
	max-width: 0;
}

li.show {
	max-width: 200px;
}

#error {
	color: red;
}

.fade li {
	transition: all ease-out;
	transition-duration: 1s;
	opacity: 0;
}

.fade li.show {
	opacity: 1;
}

button {
	background-color: #111;
}

input {
	background-color: white;
	color: black;
}

#error {
	color: red;
}
code{
	position: relative;
	width: 100%;
	font-size: 16px;
}
footer{
    margin: auto;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}