* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: none;
    /* font-family: "Comic Neue", sans-serif; */
    /* font-style: normal;*/
}

html {
    background-color: #111;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

main {
    display: flex;
}

body {
    margin: auto;
    width: 90%;
}

.card {
    padding-bottom: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
    width: 50%;
    height: 50%;
}
img{
    max-height: 250px;
    width: 100%;
}
footer {
    text-align: center;
}