* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: none;
    /* font-family: "Comic Neue", sans-serif; */
    /* font-style: normal;*/
}

html {
    background-color: #111;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    height: 40%;
}

body {
    margin: auto;
    width: 90%;
}

.card {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0 auto;
    width: 40%;
    height: 100%;
    border-radius: 2rem;
    /* position: relative; */
}
img{
    max-height: 200px;
    width: 100%;
}
footer {
    text-align: center;
}
p{
    font-weight: bold;
}